*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.top{
    height: 85vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(190, 190, 190, 0.781);
}
.logo{
    width: 50%;
    padding:0 100px;
    margin-left: 100px;
}
img{
    width: 40%;
}