*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
.top{
    height: 90vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dddfe2;
    padding-top:130px;
    padding-bottom:200px;
}
.logo{
    width: 50%;
    margin-left: 5vw;
    padding-left:5vw ;
}
.logo p{
    font-size: 25px;
    font-weight: 500;
}
img{
    width:50%;
}
.info{
    margin-right: 50px;
    padding-right: 50px;
    width: 50%;
}
.card-info{
    width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:50vh;
    background-color: white;
    border-radius: 10px;
    margin-left:50px;
    padding:5px 5px;
}
input{
    font-size: 17px;
    padding: 14px 16px;
    width: 370px;
    border-radius: 7px;
    border:1px solid #dddfe2;
}

.top .info .btn button{
    font-size: 17px;
    padding: 10px 16px;
    border-radius: 7px;
    border:1px solid #dddfe2;
    color: white;
}