*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
body{
    display:inline-block;
    min-width:100%;
}
.top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dddfe2;
    padding-top:130px;
    padding-bottom:200px;
}
.logo{
    width: 50%;
    margin-left: 5vw;
    padding-left:5vw ;
}
.logo p{
    font-size: 25px;
    font-weight: 500;
}
img{
    width:50%;
}
.info{
    margin-right: 50px;
    padding-right: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-info{
    width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin-left:50px;
    padding:15px;
}
.info .business{
    padding-top: 20px;
    font-size: 14px;
}
.info .business a{
    font-weight: 600;
    color: black;
    text-decoration: none;
}
.info .business a:hover{
    text-decoration: underline;
}
input{
    font-size: 17px;
    padding: 2vh 2vw;
    width: 370px;
    border-radius: 7px;
    border:1px solid #dddfe2;
}
input:focus{
    background-color: rgba(108, 154, 255, 0.527);
}

.top .info .btn button{
    font-size: 17px;
    padding: 16px 16px;
    border-radius: 7px;
    border:1px solid #dddfe2;
    color: white;
}

.top .info .btn-login button{
    width: 370px;
    background-color: #1877f2;
}
.top .info .btn-create{
    padding:10px;
}
.top .info .btn-create button{
    background-color: #42b72a;
}
.top .info .forgot{
    border-bottom: 1px solid #dddfe2;
    width: 370px;
    text-align: center;
    padding: 15px 0;
}

.top .info .forgot a{
    font-size: 15px;
    font-weight: 500px;
    text-decoration: none;
    color: #1877f2;
}
.top .info .forgot a:hover{
    border-bottom: 1px solid #1877f2;
}
.bottom .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:5vh 15vw;
    color: #8a8d91;
}

.bottom .content a{
    color: #8a8d91;
    font-size: 12px;
}
.bottom .links{
    border-top:1px solid #dddfe2;
}
.bottom .content div{
    padding:1vh 0;
}
@media only screen and (max-width: 850px){
    .top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding:20vw 30vh;
    }
    .top .logo,.info{
        padding-right: 0;
        margin-right: 0;
        width: 100%;
        text-align: center;
    }
}